.header-title-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title-right .user-icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #B6B6B6;
    background: #fff;
}
// Sleek scrollbar styles for processed-content and textarea

// SCSS variable for border color
$border-color: #B6B6B6;
$padding: 15px;

main {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.title-section {
    text-align: center;
    margin: 20px;

    .title-introduction {
        max-width: min(40%, 800px);
        margin: 0 auto;
    }
}

.button-container {
    margin: 5px 0;
}

.content-section {
    width: 100%;
    display: flex;
    min-height: 400px;
    height: auto;

    .raw-content,
    .processed-content {
        box-sizing: border-box;
        border: 1px solid $border-color;
    }

    .raw-content {
        flex: 0 0 40%;
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        textarea {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: none;
            outline: none;
            resize: none;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: none;
            padding: $padding !important;
        }

        form {
            height: 100%;
        }
    }

    .processed-content {
        pre {
            max-width: 100%;
            overflow: auto;
            white-space: pre-wrap;
            word-break: break-all;
        }

        .empty-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        flex: 1 1 60%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
        padding: 10px;
    }
}

.header-section {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: row;
    .header-title-left {
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }
    .header-section-right {
        text-align: right;
        font-size: 14px;
    }
}